<div class="container">
    <div class="row">
        <div class="d-flex align-items-start flex-wrap justify-content-between">
            <div class="col-6 col-md-4 p-1">
                <a href="#" data-toggle="modal" data-target="#toursModal">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 text-center">
                            <span>Valley of Flowers</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 p-1">
                <a href="#" data-toggle="modal" data-target="#toursModal">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 text-center">
                            <span>Valley of Flowers</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 p-1">
                <a href="#" data-toggle="modal" data-target="#toursModal">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 text-center">
                            <span>Valley of Flowers</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 p-1">
                <a href="#" data-toggle="modal" data-target="#toursModal">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 text-center">
                            <span>Valley of Flowers</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 p-1">
                <a href="#" data-toggle="modal" data-target="#toursModal">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 text-center">
                            <span>Valley of Flowers</span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 p-1">
                <a href="#" data-toggle="modal" data-target="#tourModal">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 text-center">
                            <span>Valley of Flowers</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% include 'tours/tours-popup.html.twig' %}