<nav class="navbar-expand-sm">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#tourNavtab" aria-controls="tourNavtab" aria-expanded="false" aria-label="Toggle Navtab">
        <i class="fa fa-bars"></i>
    </button>
    <div class="popup-navbar">
        <div class="navbar-collapse collapse" id="tourNavtab">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active selected" data-toggle="pill" href="#tour-overview">Overview</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tour-experience">Experiences</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tour-itinerary">Itinerary</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#tour-stay">Stay</a>
                </li>
            </ul>
        </div>
    </div>
</nav>