<!--Modal Structure-->
<div class="modal fade" id="toursModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal Header-->
            <div class="modal-header p-0">
                <div class="d-flex flex-row" style="width: 100%;">
                    <div class="tour-details col-6 col-md-3 pl-3 pl-md-4">
                        <div class="tour-name pt-1">Tour Name</div>
                        <div class="tour-duration pl-1">Tour Duration</div>
                    </div>

                    <div class="col-5 col-md-8">
                        {% include 'tours/tours.navbar.html.twig' %}
                    </div>
                    <div class="col-1 ml-auto pr-2">
                        <button type="button" class="close m-0 col-md-1 ml-auto" data-dismiss="modal" aria-label="close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Modal Body-->
            <div class="modal-body d-flex flex-row p-0">
                <div class="tab-content col-12 col-md-9 p-3">

                    <!--Tour Overview-->
                    <div id="tour-overview" class="container tab-pane active p-0">
                        {% include 'tours/tour-images.html.twig' %}

                        <div class="row">
                            <div class="col-md-4 col-12">
                                <span class="tour-description content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</span>
                            </div>
                            <div class="col-md-4 col-12">
                                <span class="tour-description content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</span>
                            </div>
                            <div class="col-md-4 col-12">
                                <span class="tour-description content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</span>
                            </div>
                        </div>
                    </div>

                    <!-- Experiences in the Tour -->
                    <div id="tour-experience" class="container tab-pane p-0">
                        <div class="row pl-md-2">
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Tour Itinerary-->
                    <div id="tour-itinerary" class="container tab-pane">
                        <div class="row pb-2">
                            <div class="col-4 p-0">
                                <img src="{{ asset('images/test2.jpg') }}">
                            </div>
                            <div class="col-8">
                                <span class="bold">Day 1</span>
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</p>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 p-0">
                                <img src="{{ asset('images/test2.jpg') }}">
                            </div>
                            <div class="col-8">
                                <span class="bold">Day 2</span>
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</p>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 p-0">
                                <img src="{{ asset('images/test2.jpg') }}">
                            </div>
                            <div class="col-8">
                                <span class="bold">Day 3</span>
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</p>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 p-0">
                                <img src="{{ asset('images/test2.jpg') }}">
                            </div>
                            <div class="col-8">
                                <span class="bold">Day 4</span>
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</p>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 p-0">
                                <img src="{{ asset('images/test2.jpg') }}">
                            </div>
                            <div class="col-8">
                                <span class="bold">Day 5</span>
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</p>
                            </div>
                        </div>
                        <div class="row pb-2">
                            <div class="col-4 p-0">
                                <img src="{{ asset('images/test2.jpg') }}">
                            </div>
                            <div class="col-8">
                                <span class="bold">Day 6</span>
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus.</p>
                            </div>
                        </div>
                    </div>

                    <!--Homestays used in the Tour-->
                    <div id="tour-stay" class="container tab-pane p-0">
                        <div class="row pl-md-2">
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <!--Sidebar-->
                <div class="col-md-3 sidebar sticky p-2 pt-md-3" id="sidebar">

                    <button class="col-12 dropdown-form row btn" href="#">Make Your Booking!</button>
                    <!--Booking Form for Homestays-->
                    <div class="booking-form p-2 mt-2 hidden">
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control rounded" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control rounded" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control rounded" id="checkin" placeholder="Check In">
                            </div>
                            <div class="form-group">
                                <input onfocus="(this.type='date')" class="form-control rounded" id="checkout" placeholder="Check Out">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control rounded" id="guests" placeholder="No. of Guests">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control rounded" id="message" name="message" rows="5" placeholder="Special Requirements"></textarea>
                            </div>
                            <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">Book Now</button></div>
                        </form>
                    </div>

                    <button class="col-12 dropdown-reviews row btn mt-1" href="#">Reviews</button>
                    <!--Tour Reviews-->
                    <div class="tour-reviews reviews mb-2 hidden">

                        <div class="tour-usr-img-rating">
                            <div class="user-img-container p-2">
                                <img src="{{ asset('images/usr-img.png') }}">
                            </div>
                        </div>
                        <div class="tour-comment p-2">
                            <p class="mb-2 content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu orci id erat volutpat dictum sit amet a diam. Sed id libero magna. Maecenas dictum augue eget egestas facilisis. Nullam commodo porttitor finibus."</p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <span class="usr-name bold">Sachin Singhi</span>
                        </div>
                        <div class="d-flex justify-content-end">
                            <span class="usr-location">Mumbai</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
