{% extends 'base.html.twig' %}

{% block title %}Packaged Tours & Experience|OurGuest{% endblock %}

{% block body %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 d-flex align-items-start p-md-0">
                <h2 class="tours-main-heading">Packaged Tours & Experience</h2>
            </div>
            {% include 'default/location-navbar.html.twig' %}

                {#Tab content#}
            <div class="tab-content" id="primary-tab-content">
                <div id="sikkim" class="container tab-pane active fade show p-0">
                    {% include 'tours/tours-template.html.twig' %}
                </div>
                <div id="darjkpg" class="container tab-pane fade p-0">
                    {% include 'tours/tours-template.html.twig' %}
                </div>
                <div id="meghalaya" class="container tab-pane fade p-0">
                    {% include 'tours/tours-template.html.twig' %}
                </div>
                <div id="nagaland" class="container tab-pane fade p-0">
                    {% include 'tours/tours-template.html.twig' %}
                </div>
                <div id="assam" class="container tab-pane fade p-0">
                    {% include 'tours/tours-template.html.twig' %}
                </div>
            </div>
        </div>
    </div>

    <div class="container customise-form">
        <div class="row mt-4 ml-1 mr-1 pt-4 pb-3">
            <div class="col-12 col-md-5 p-0">
                <div class="ribbon-wrapper"><div class="glow">&nbsp;</div>
                    <div class="ribbon-front">
                        Customise Your Experience
                    </div>
                    <div class="ribbon-edge-topleft"></div>
                    <div class="ribbon-edge-topright"></div>
                    <div class="ribbon-edge-bottomleft"></div>
                    <div class="ribbon-edge-bottomright"></div>
                </div>

                <p>We can tailor make your tour exactly how you want it. Whether it's tweaking an existing itinerary, booking a standard tour on a different date, or booking your own unique one!</p>
                <div class="col-12 d-flex justify-content-center">
                    <label for="submit-form"><button type="submit" class="btn btn-primary"><span>Book Now</span></button></label>
                </div>
            </div>
            <div class="col-12 col-md-7 p-0">
                <form action="">
                    <div class="col-12 d-md-flex flex-row">
                        <div class="col-md-6 p-0 p-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control rounded-custom" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control rounded-custom" id="checkin" placeholder="Check In">
                            </div>
                            <div class="form-group">
                                <input onfocus="(this.type='date')" class="form-control rounded-custom" id="checkout" placeholder="Check Out">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control rounded-custom" id="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-md-6 p-0 p-md-2">
                            <div class="form-group">
                                <input type="number" class="form-control rounded-custom" id="guests" placeholder="No. of Guests">
                            </div>
                            <div class="form-group">
                                <select class="form-control rounded-custom" id="destination">
                                    <option disabled selected>Destination</option>
                                    <option>Sikkim</option>
                                    <option>Darjeeling/Kalimpong</option>
                                    <option>Meghalaya</option>
                                    <option>Nagaland</option>
                                    <option>Assam</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <textarea class="form-control rounded-custom-textarea" id="message" name="message" placeholder="Special Requirements"></textarea>
                            </div>
                            <div class="form-group">
                                <input type="submit" id="submit-form" class="hidden">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% include 'default/suggestions-pane.html.twig' %}
{% endblock %}