<div class="container">
    <div class="row">
        <div class="d-flex align-items-start flex-wrap justify-content-between">
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <div class="p-2 m-0">Culinary Tour 1</div>
                        <div class="checkmark">
                            <input type="checkbox" name="selection" id="assam_exp_1" value="Assam Experience 1">
                            <label for="assam_exp_1"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour2">Culinary Tour 2</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selection" id="assam_exp_2" value="Assam Experience 2">
                            <label for="assam_exp_2"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour3">Culinary Tour 3</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selection" id="assam_exp_3" value="Assam Experience 3">
                            <label for="assam_exp_3"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour4">Culinary Tour 4</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selection" id="assam_exp_4" value="Assam Experience 4">
                            <label for="assam_exp_4"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour5">Culinary Tour 5</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selection" id="assam_exp_5" value="Assam Experience 5">
                            <label for="assam_exp_5"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour6">Culinary Tour 6</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selection" id="assam_exp_6" value="Assam Experience 6">
                            <label for="assam_exp_6"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>