<!--Modal Structure-->
<div class="modal fade" id="experienceModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!--Modal Body-->
            <button type="button" class="close m-0" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true" class="float-right pr-2">&times</span>
            </button>
            <div class="modal-body d-flex flex-row p-0">

                <div class="col-9 p-3">
                    <!--About the Experience-->
                    <div id="experience-location" class="container tab-pane active p-0">
                        <div class="col-7 embed-responsive embed-responsive-16by9 m-0">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/YObRnbc5lIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                        <div class="col-8">
                            <span class="experience-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus. Sed tempor lacinia imperdiet.Vivamus malesuada interdum iaculis. Donec quis metus eleifend sapien egestas dignissim eu id neque. Ut sed pellentesque mi. Maecenas ut libero et magna faucibus porta. Praesent sed metus dignissim, feugiat diam id, commodo mi. Aliquam lacinia congue est tempus malesuada. Suspendisse viverra tortor leo. Nam varius nisi tellus, vitae lacinia tellus sollicitudin volutpat. Nunc vel facilisis sapien. Nulla</span>

                        </div>
                    </div>
                </div>

                    {#<!--Room Images Carousel-->
                    <div id="homestay-rooms" class="container tab-pane p-0">
                        <div id="img-carousel-homestay" class="carousel slide" data-ride="carousel">

                            <!--Indicators-->
                            <ul class="carousel-indicators">
                                <li data-target="#img-carousel-homestay" data-slide-to="0" class="active"></li>
                                <li data-target="#img-carousel-homestay" data-slide-to="1"></li>
                                <li data-target="#img-carousel-homestay" data-slide-to="2"></li>
                            </ul>

                            <!--The Slideshow-->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ asset('images/test.jpg') }}">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/test.jpg') }}">
                                </div>
                                <div class="carousel-item">
                                    <img src="{{ asset('images/test.jpg') }}">
                                </div>
                            </div>

                            <!--Left and Right Controls-->
                            <a class="carousel-control-prev" href="#img-carousel-homestay" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#img-carousel-homestay" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>#}
                <!--</div>-->

                <!--Sidebar-->
                <div class="col-3 sidebar p-1">

                    <!--Homestay Reviews-->
                    <div class="homestay-reviews mr-2 mt-4 mb-2">
                        <div class="reviews-header pr-2 pt-2 pl-2">Reviews</div>
                        <div class="homestay-usr-img-rating">
                            <div class="user-img-container p-2">
                                <img src="{{ asset('images/usr-img.png') }}">
                            </div>
                        </div>
                        <div class="homestay-comment p-2">
                            <p class="mb-2">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu orci id erat volutpat dictum sit amet a diam. Sed id libero magna. Maecenas dictum augue eget egestas facilisis. Nullam commodo porttitor finibus."</p>
                            <div class="d-flex justify-content-end">
                                <span class="usr-name">Sachin Singhi</span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="usr-location">Mumbai</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
