{% extends 'base.html.twig' %}

{% block title %}Customise Experience|OurGuest{% endblock %}

{% block body %}
    <div class="container pt-4">
        <div class="row">
            <div class="col-12 d-flex align-items-start p-md-0">
                <h2 class="customise-tour-heading">Customise your Experience</h2>
            </div>
            <div class="col-md-9 p-0">
            {% include 'default/location-navbar.html.twig' %}

            {#Tab content#}
            <div id="primary-tab-content" class="tab-content clearfix customise-tour col-12">
                    <div id="sikkim" class="tab-pane fade show active p-0">
                        {% include 'experiences/experiences-sikkim.html.twig'%}
                    </div>
                    <div id="darjkpg" class="tab-pane fade p-0">
                        {% include 'experiences/experiences-darjkpg.html.twig' %}
                    </div>
                    <div id="meghalaya" class="tab-pane fade p-0">
                        {% include 'experiences/experiences-meghalaya.html.twig' %}
                    </div>
                    <div id="nagaland" class="tab-pane fade p-0">
                        {% include 'experiences/experiences-nagaland.html.twig' %}
                    </div>
                    <div id="assam" class="tab-pane fade p-0">
                        {% include 'experiences/experiences-assam.html.twig' %}
                    </div>
            </div>
            </div>
            <div class="col-3 p-0">
            <div id="experiences-form" class="col-md-12 pl-4 pr-0">

                <div class="p-2">
                    <form action="">
                        <div class="form-group">
                            <input type="text" class="form-control rounded" id="name" placeholder="Name">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control rounded" id="email" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control rounded" id="location" placeholder="Location">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control rounded" id="guests" placeholder="No. of Guests">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control rounded" id="message" name="message" rows="5" placeholder="Special Requirements"></textarea>
                        </div>
                        <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">Book Now</button></div>
                    </form>
                </div>
            </div>
            </div>
        </div>
    </div>
    {% include 'default/suggestions-pane.html.twig' %}

    <!-- Form for Customise Selection-->

{% endblock %}

