<div class="container">
    <div class="row">
        <div class="d-flex align-items-start flex-wrap justify-content-between">
            <div class="col-6 col-md-4 p-1">
                <a data-toggle="modal" data-target="#experienceModal">
                    <div class="inner-box d-flex align-items-end">
                        <div class="caption1 mb-3 d-flex justify-content-between">
                            <div class="p-2 m-0">Culinary Tour</div>
                            <div class="checkmark">
                                <input type="checkbox" name="selected_exp[]" id="sikkim_exp_1" value="Culinary Tour">
                                <label for="sikkim_exp_1"></label>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="tour_2">Tea Garden Hike</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selected_exp[]" id="sikkim_exp_2" value="Tea Garden Hike">
                            <label for="sikkim_exp_2"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour3">Bird Watching</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selected_exp[]" id="sikkim_exp_3" value="Bird Watching">
                            <label for="sikkim_exp_3"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour4">Tea Tasting</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selected_exp[]" id="sikkim_exp_4" value="Tea Tasting">
                            <label for="sikkim_exp_4"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour5">River Side Picnic</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selected_exp[]" id="sikkim_exp_5" value="River Side Picnic">
                            <label for="sikkim_exp_5"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-4 p-1">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 d-flex justify-content-between">
                        <label class="p-2 m-0" for="culinary_tour6">Hot Spring</label>
                        <div class="checkmark">
                            <input type="checkbox" name="selected_exp[]" id="sikkim_exp_6" value="Hot Spring">
                            <label for="sikkim_exp_6"></label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'experiences/experiences-popup.html.twig' %}
