<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}OurGuest{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.css.map') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css.map') }}">

            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.css.map') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-grid.min.css.map') }}">

            <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.css') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.css.map') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css.map') }}">
            <link rel="stylesheet" href="{{ asset('css/bootstrap-reboot.min.css') }}">

            <link rel="stylesheet" href="{{ asset('css/style.css') }}">

            <link rel="stylesheet" href="{{ asset('/fonts/ionicons/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/fonts/fontawesome/css/font-awesome.min.css') }}">
            <link rel="stylesheet" href="{{ asset('/fonts/flaticon/font/flaticon.css') }}">
            <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Fredericka+the+Great" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Bungee+Inline|Cabin+Sketch|News+Cycle" rel="stylesheet">

        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300, 400,700" rel="stylesheet">
    </head>
    <body>
    <header role="banner" class="top-bar">
        {#<div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 site-logo">
                        <a href="{{ path('homepage') }}">
                        <img src="{{ asset('images/logo-white copy.png') }}">
                        </a>
                    </div>
                    <div class="col-md-9">
                        <div class="mb-3 mt-3 d-flex flex-row-reverse">
                            <div class="col-md-8 text-center">
                                <span><u>For Queries and Customisation Call +91-9833456712</u></span>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-md-3 dropdown">
                                <a class="dropdown-toggle text-center" href="#" data-toggle="dropdown">DESTINATIONS</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="">Sikkim</a>
                                    <a class="dropdown-item" href="">Darjeeling/Kalimpong</a>
                                    <a class="dropdown-item" href="">Meghalaya</a>
                                    <a class="dropdown-item" href="">Nagaland</a>
                                    <a class="dropdown-item" href="">Assam</a>
                                </div>
                            </div>
                            <div class="col-md-3 text-center">EXPERIENCES<span class="ion-arrow-down-b"></span></div>
                            <div class="col-md-3 text-center"><span>HOMESTAYS</span></div>
                            <div class="col-md-3 text-center"><span>TIPS & STORIES</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>#}
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="navbarMenu">
            <a class="navbar-brand site-logo mr-xl-auto pr-xl-0" href="{{ path('homepage') }}">
                <img src="{{ asset('images/logo-white copy.png') }}">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="col-9 d-md-flex justify-content-md-between ml-xl-auto">
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <div class="navbar-nav col-xl-12 d-flex justify-content-xl-around">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Destinations</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{{ path('location_main') }}">Sikkim</a>
                                <a class="dropdown-item" href="{{ path('location_main') }}">Darjeeling/Kalimpong</a>
                                <a class="dropdown-item" href="{{ path('location_main') }}">Meghalaya</a>
                                <a class="dropdown-item" href="{{ path('location_main') }}">Nagaland</a>
                                <a class="dropdown-item" href="{{ path('location_main') }}">Assam</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('experiences_main') }}">Experiences</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('homestays_main') }}">Homestays</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tips & Stories</a>
                        </li>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- END header -->
    {% block body %}{% endblock %}

    <div class="modal" id="video-popup">
        <div id="video-container">
        </div>
    </div>

    <footer class="site-footer mt-3">
        <div class="container">
            <div class="row mb-5">
                <div class="col-md-3">
                    <h3>Paragraph</h3>
                    <p>
                        <img src="" alt="Image placeholder" class="img-fluid">
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.</p>
                </div>
                <div class="col-md-3">
                    <h3>Paragraph</h3>
                    <p>
                        <img src="" alt="Image placeholder" class="img-fluid">
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.</p>
                </div>
                <div class="col-md-3">
                    <h3>Paragraph</h3>
                    <p>
                        <img src="" alt="Image placeholder" class="img-fluid">
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.</p>
                </div>
                <div class="col-md-3">
                    <h3>Paragraph</h3>
                    <p>
                        <img src="" alt="Image placeholder" class="img-fluid">
                    </p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi, accusantium optio unde perferendis eum illum voluptatibus dolore tempora, consequatur minus asperiores temporibus reprehenderit.</p>
                </div>
            </div>
        </div>
    </footer>
    <!-- END footer -->

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.min.map') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.js.map') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.bundle.min.js.map') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.js.map') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js.map') }}"></script>
        <script type="text/javascript" src="{{ asset('js/jquery.sticky.js') }}"></script>

        <script>
            $(function () {
                $('.navbar').sticky({topSpacing:0});
            });

            $(function () {
                var experiencesForm = $("#experiences-form");
                var selection = $("#experiences input[name=selected_exp]")
                if($(window).width() < 576){
                    experiencesForm.parent('div').addClass('hidden');
                    selection.addEventListener('change', function () {
                        if(this.checked()){

                        }
                    });
                }
                experiencesForm.sticky({topSpacing:30});
            });

            /*$(function () {
                $(".checkmark input").change(function () {

                    var experience="";
                    $(".checkmark input:checked").each(function () {
                        if ($(this).prop("checked")) {

                            experience += $(this).val() + '\n';
                            console.log(experience);
                        }
                    });
                    $("#experiences-form #message").val(experience);

                });
            });*/

            $(function () {
               $("#videoModal").on('hidden.bs.modal', function(e){
                   $("#videoModal iframe").attr("src", $("#videoModal iframe").attr("src"));
               });
            });

            $(function () {
                var sidebar = $("#sidebar");
                var modalFooter = $(".modal-footer");
                var modalBody = $(".modal-body");
                var customiseFormSubmitContainer = $(".customise-form button").parent().parent();

                /*$(window).resize(function () {
                    if($(window).width() > 576 && $(".modal-content div").hasClass("modal-footer") && !$(".modal-body div").hasClass("sidebar")){
                        modalFooter.remove();
                        modalBody.append(clone);
                    }

                    else if($(window).width() < 576 && !$(".modal-content div").hasClass("modal-footer")){
                        modalBody.after('<div class="modal-footer">' + clone + "</div>");
                    }
                });*/
                if ($(window).width() > 576){
                    modalFooter.remove();
                    modalBody.append(sidebar);
                }
                else {
                    customiseFormSubmitContainer.remove();
                    $(".customise-form form > div").append(customiseFormSubmitContainer);
                }
                /*else if(!$("div").hasClass("modal-footer"))
                {
                    modalBody.after('<div class="modal-footer">' + clone + "</div>");
                }*/
            });

            /*closing popup-navbar after selection*/
            $(function () {
                if($(window).width() < 576){
                    $(".popup-navbar .navbar-collapse a").click(function(){
                        $(".popup-navbar .navbar-collapse").collapse('hide');
                    });
                }
            });

            //function for opening and closing sidebar in tours & homestays popup
            $(function () {

                var dropdownFormButton = $(".dropdown-form");
                var dropdownReviewsButton = $(".dropdown-reviews");
                var bookingForm = $(".booking-form");
                var reviews = $(".reviews");
                if($(window).width() > 576) {
                    dropdownFormButton.click(function () {
                        if (reviews.is(':visible') && bookingForm.is(':hidden')) {
                            reviews.slideToggle("300", "swing");
                            dropdownReviewsButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': 'white',
                                'color': '#32383e'
                            });
                            bookingForm.slideToggle("300", "swing");
                            dropdownFormButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': '#32383e',
                                'color': '#fefefe'
                            });

                        }
                        else if (bookingForm.is(':visible')) {
                            bookingForm.slideToggle("300", "swing");
                            dropdownFormButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': 'white',
                                'color': '#32383e'
                            });
                        }
                        else {
                            bookingForm.slideToggle("300", "swing");
                            dropdownFormButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': '#32383e',
                                'color': '#fefefe'
                            });
                        }
                    });

                    dropdownReviewsButton.click(function () {
                        if (bookingForm.is(':visible') && reviews.is(':hidden')) {
                            bookingForm.slideToggle("300", "swing");
                            dropdownFormButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': 'white',
                                'color': '#32383e'
                            });
                            reviews.slideToggle("300", "swing");
                            dropdownReviewsButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': '#32383e',
                                'color': '#fefefe'
                            });
                        }
                        else if (reviews.is(':visible')) {
                            reviews.slideToggle("300", "swing");
                            dropdownReviewsButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': 'white',
                                'color': '#32383e'
                            });
                        }
                        else {
                            reviews.slideToggle("300", "swing");
                            dropdownReviewsButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': '#32383e',
                                'color': '#fefefe'
                            });
                        }
                    });
                }
                else{
                    dropdownFormButton.click(function () {
                        if (reviews.is(':visible') && bookingForm.is(':hidden')) {
                            reviews.slideToggle({direction: "up"}, "300", "swing");
                            dropdownReviewsButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': 'white',
                                'color': '#32383e'
                            });
                            bookingForm.slideToggle({direction: "up"}, "300", "swing");
                            dropdownFormButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': '#32383e',
                                'color': '#fefefe'
                            });

                        }
                        else if (bookingForm.is(':visible')) {
                            bookingForm.slideToggle({direction: "up"}, "300", "swing");
                            dropdownFormButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': 'white',
                                'color': '#32383e'
                            });
                        }
                        else {
                            bookingForm.slideToggle({direction: "up"}, "300", "swing");
                            dropdownFormButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': '#32383e',
                                'color': '#fefefe'
                            });
                        }
                    });

                    dropdownReviewsButton.click(function () {
                        if (bookingForm.is(':visible') && reviews.is(':hidden')) {
                            bookingForm.slideToggle({direction: "up"}, "300", "swing");
                            dropdownFormButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': 'white',
                                'color': '#32383e'
                            });
                            reviews.slideToggle({direction: "up"}, "300", "swing");
                            dropdownReviewsButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': '#32383e',
                                'color': '#fefefe'
                            });
                        }
                        else if (reviews.is(':visible')) {
                            reviews.slideToggle({direction: "up"}, "300", "swing");
                            dropdownReviewsButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': 'white',
                                'color': '#32383e'
                            });
                        }
                        else {
                            reviews.slideToggle({direction: "up"}, "300", "swing");
                            dropdownReviewsButton.css({
                                'border': 'solid',
                                'border-color': '#32383e',
                                'background': '#32383e',
                                'color': '#fefefe'
                            });
                        }
                    });
                }
            });

            /*var card = document.querySelector('.card-container');
            card.addEventListener('click', function () {
                card.classList.toggle('is-flipped');
            });*/
            $(function () {
                var card = $('.card-container');
                card.click(function () {
                    $(this).toggleClass('is-flipped');
                });
            });

        </script>
    {% endblock %}
    </body>
</html>
