<div class="horizontal-scroll-wrapper">
    <div class="col-6 col-md-4 p-1 horizontal-scroll-element">
        <a href="#" data-toggle="modal" data-target="#experienceModal">
            <div class="inner-box d-flex align-items-end">
                <div class="caption1 mb-3 text-center">
                    <span>Valley of Flowers</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 col-md-4 p-1 horizontal-scroll-element">
        <a href="#" data-toggle="modal" data-target="#experienceModal">
            <div class="inner-box d-flex align-items-end">
                <div class="caption1 mb-3 text-center">
                    <span>Valley of Flowers</span>
                </div>
            </div>
        </a>
    </div>
    <div class="col-6 col-md-4 p-1 horizontal-scroll-element">
        <a href="#" data-toggle="modal" data-target="#experienceModal">
            <div class="inner-box d-flex align-items-end">
                <div class="caption1 mb-3 text-center">
                    <span>Valley of Flowers</span>
                </div>
            </div>
        </a>
    </div>
</div>
