{% extends 'base.html.twig' %}

{% block title %}Location Name{% endblock %}

{% block body %}
    <div class="container pt-4">
        <div class="row pl-2">
            <h2>Location Name</h2>
        </div>

        <div class="row pt-4 p-2">
            <h3 class="pl-2">Tours</h3>
            <div class="col-sm-12 tours-carousel p-0">
                {% include 'location/tours-carousel.html.twig' %}
            </div>
        </div>

        <div class="row pt-5 p-2">
            <h3 class="pl-2">Experiences</h3>
            <div class="col-sm-12 experiences-carousel p-0">
                {% include 'location/experiences-carousel.html.twig' %}
            </div>
        </div>

        <div class="row pt-5 p-2">
            <h3 class="pl-2">Homestays</h3>
            <div class="col-sm-12 homestays-carousel p-0">
                {% include 'location/homestays-carousel.html.twig' %}
            </div>
        </div>
    </div>

    {% include 'default/suggestions-pane.html.twig' %}
    {% include 'tours/tours-popup.html.twig' %}
    {% include 'experiences/experiences-popup.html.twig' %}
    {% include 'homestays/homestays-popup.html.twig' %}
{% endblock %}