<div class="modal fade" id="homepageModal">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!--Modal Body-->
            <div class="modal-body">
                <div class="col-12 d-flex justify-content-center">
                    <img src="{{ asset('images/logo-black.png') }}">
                </div>

            </div>
        </div>
    </div>
</div>