{% extends 'base.html.twig' %}

{% block title %}OurGuest{% endblock %}

{% block body %}
    <div class="container mt-md-3">
        <div id="carousel-row" class="row">
            <div class="col-sm-12 pt-6 pr-0 pl-0 mb-1">
                {#<div class="col-md-12 carousel-caption1">

                    <h2>Live among the Wildlife & Fireflies</h2>
                    <h4>5-6 days at Kaziranga National Park</h4>
                    <h4 class="mt-4"><strong class="pr-4">EXPLORE</strong><button>Watch Video</button></h4>
                </div>#}
                <div class="inner-box-carousel d-flex align-items-end">
                    <div class="caption1 pt-2 mb-3">
                        <h3>Live among the Wildlife & Fireflies</h3>
                        <h5>5-6 days at Kaziranga National Park</h5>
                        <h5><strong class="pr-4">EXPLORE</strong><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#videoModal">Watch Video</button></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm pt-3 pt-md-2 pl-md-1 pr-md-1">
                <a href="{{ path('tours_main') }}">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 text-center">
                        <span>Packaged Tours & Experiences</span>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm pt-3 pt-md-2 pl-md-1 pr-md-1">
                <a href="{{ path('experiences_main') }}">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 text-center">
                        <span>Customise your Experience</span>
                    </div>
                </div>
                </a>
            </div>
            <div class="col-sm pt-3 pt-md-2 pl-md-1 pr-md-1">
                <a href="{{ path('homestays_main') }}">
                <div class="inner-box d-flex align-items-end">
                    <div class="caption1 mb-3 text-center">
                        <span>Book our Homestays</span>
                    </div>
                </div>
                </a>
            </div>

        </div>

        <div class="row mt-5">
            <div class="col-sm-7 testimonials p-md-0">
                <h4>Testimonials</h4>
                <div class="row mb-2 m-1">
                    <div class="col-3 pl-0 pr-0">
                        <img src="{{ asset('images/usr-img.png') }}">
                    </div>
                    <div class="col pl-0 pr-0">
                        <div class="col-12 pl-0 pr-0">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus posuere erat ac placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur interdum auctor ex ut semper. Pellentesque diam neque, rhoncus eu purus a, tincidunt viverra nisi. Aliquam rutrum lectus vitae metus laoreet, sed mollis tortor ultrices.</p>
                        </div>
                        <div class="col-12 pl-0 pr-0 text-right">
                            <span class="usr-name">Sachin Singhi</span>
                        </div>
                        <div class="col-12 pl-0 pr-0 text-right">
                            <span class="usr-location">Mumbai</span>
                        </div>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-3 pl-0 pr-0">
                        <img src="{{ asset('images/usr-img.png') }}">
                    </div>
                    <div class="col pl-0 pr-0">
                        <div class="col-12 pl-0 pr-0">
                            <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus luctus posuere erat ac placerat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur interdum auctor ex ut semper. Pellentesque diam neque, rhoncus eu purus a, tincidunt viverra nisi. Aliquam rutrum lectus vitae metus laoreet, sed mollis tortor ultrices.</p>
                        </div>
                        <div class="col-12 pl-0 pr-0 text-right">
                            <span class="usr-name">Sachin Singhi</span>
                        </div>
                        <div class="col-12 pl-0 pr-0 text-right">
                            <span class="usr-location">Mumbai</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm featured-video pl-md-1 pr-md-0">
                <h4>Featured Video</h4>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YObRnbc5lIY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
    {% include 'default/suggestions-pane.html.twig' %}


    {% include 'default/video-popup.html.twig' %}
{% endblock %}