<div class="tab col-12 pt-3 pb-0">
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active selected" data-toggle="pill" href="#sikkim">Sikkim</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#darjkpg">Darjeeling/Kalimpong</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#meghalaya">Meghalaya</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#nagaland">Nagaland</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="pill" href="#assam">Assam</a>
        </li>
    </ul>
</div>