<div class="container mt-4">
    <div class="row suggestions">
        <div class="col-sm pt-3 p-md-1">
            <div class="inner-box d-flex align-items-start flex-column">
                <div class="banner mb-auto mt-3">
                    <span>Upcoming Tours</span>
                </div>
                <div class="caption2 mb-3 text-center">
                    <span>Nature Trail in the Jaintia Hills</span>
                </div>
            </div>
        </div>
        <div class="col-sm pt-3 p-md-1">
            <div class="inner-box d-flex align-items-start flex-column">
                <div class="banner mb-auto mt-3">
                    <span>Recommended Tours</span>
                </div>
                <div class="caption2 mb-3 text-center">
                    <span>Nature Trail in the Jaintia Hills</span>
                </div>
            </div>
        </div>
        <div class="col-sm pt-3 p-md-1">
            <div class="inner-box d-flex align-items-start flex-column">
                <div class="banner mb-auto mt-3">
                    <span>Explore Arunachal</span>
                </div>
                <div class="caption2 mb-3 text-center">
                    <span>Nature Trail in the Jaintia Hills</span>
                </div>
            </div>
        </div>
    </div>
</div>