@font-face {
    font-family: "Simplifica";
    src: url("../fonts/simplifica/simplifica_typeface-webfont.svg")format("svg");
    src: url("../fonts/simplifica/simplifica_typeface-webfont.ttf")format("truetype");
    src: url("../fonts/simplifica/simplifica_typeface-webfont.eot");
    src: url("../fonts/simplifica/simplifica_typeface-webfont.woff2")format("woff");
}

body {
    background: #fff;
    font-family: "Cabin Sketch", cursive;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.9;
    color: #6c757d;
}

a {
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    color: #000;
    font-family: "Josefin Sans", arial, sans-serif;
}

/*Custom CSS*/

.sticky {
    position: sticky;
    top: 0;
}

header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    font-weight: 400;
    background: #fff !important;
}

.bold{
    font-weight: bold;
}

.site-footer {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding: 5em 0;
    background: #000;
}

.site-footer .post-entry-sidebar ul li a h4 {
    color: #fff;
}

.site-footer .footer-social li a > span {
    width: 30px;
}

.site-footer a {
    color: #fff;
}

.site-footer a:hover {
    opacity: .5;
}

.site-footer h3 {
    color: #fff;
    margin-bottom: 30px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: .2em;
}

.site-footer p {
    color: rgba(255, 255, 255, 0.5);
}

/*height of homepage carousel*/
div .pt-6 {
    height: 365px;
}

.top-bar{
    z-index: 1002;
}

.top-bar .site-logo{
    padding: 0 9.5% 0 3.5%;
    height: 75px;
    width: auto;
}

.top-bar .site-logo img{
    max-width: 100%;
    max-height: 100%;
}

.top-bar #collapsibleNavbar a{
    font-size: 1.2rem;
    font-family: "Fredericka the Great", cursive;
}

.navbar{
    box-shadow: 0 3px 5px rgba(0,0,0, 0.9);
}

.dropdown-item:hover{
    background-color: #75bdbd;
    color: #FFFFFF;
}

#carousel-row{
    background-image: url("../images/carousel-img1.jpg");
}

#videoModal .modal-content{
    background: rgba(0,0,0,1);
}

.inner-box-carousel{
    width: 100%;
    height: 100%;
}

.inner-box-carousel .caption1{
    padding: 0 45px;
}

.inner-box-carousel .caption1 h3,h5{
    color: #fefefe;
}

.inner-box{
    width: 100%;
    height: 230px;
    background-image: url("../images/test2.jpg");
}

.inner-box:hover{
    box-shadow:
            0 2px 5px 0 rgba(0,0,0,1),
            0 2px 10px 0 rgba(0,0,0,1);
}

.caption1{
    width: 100%;
    background-color: rgba(13,13,13,0.5);
    font-size: 1.5em;
    color: #FFFFFF;
}

.testimonials h4{
    font-size: 30px;
    color: #000;
}

.testimonials p{
    line-height: 1.2;
}

.testimonials .usr-name{
    text-transform: uppercase;
    font-weight: bold;
}

.testimonials .row{
    background: #AAAAAA;
    color: #000;
    padding: 10px;
}

.featured-video h4 {
    font-size: 30px;
    color: #000;
}

#video-container{
    max-width: 70%;
}

.suggestions{
    z-index: 0 !important;
}

.suggestions .banner{
    background-color: #F5871F;
}

.suggestions .banner span{
    font-size: .7em;
    color: black;
    padding: 0 1.5em;
    text-transform: uppercase;
    font-weight: bold;
}
.suggestions .caption2{
    width: 100%;
    background-color: rgba(13,13,13,0.5);
}
.suggestions span {
    font-size: 1.2em;
    color: #FFFFFF;
}

/*tour-main styles*/
.tours-main-heading, .customise-tour-heading, .homestays-main-header{
    font-family: "Fredericka the Great", arial, sans-serif;
    font-size: 1.7rem;
    font-weight: bolder;
}

@media (max-width: 512px) {

    .tab-content .inner-box, .horizontal-scroll-wrapper .inner-box{
        width: 100%;
        height: 115px;
        background-image: url("../images/test2.jpg");
        box-shadow:
                0 2px 5px 0 rgba(0,0,0,0.7),
                0 2px 3px 0 rgba(0,0,0,0.7);
    }

    .inner-box{
        box-shadow:
                0 2px 4px 0 rgba(0,0,0,1),
                0 2px 4px 0 rgba(0,0,0,1);
    }

    .navbar-nav > .dropdown .dropdown-menu.show{
        display: inline-block;
        position: absolute;
    }

    .top-bar .sticky-wrapper{
        height: 13vh !important;
    }

    div .pt-6 {
        height: 87vh;
    }

    /*video-popup*/
    #videoModal > .modal-sm{
        max-width: 95%;
    }

    .featured-video{
        margin-top: 40px;
    }

    .tours-main-heading, .customise-tour-heading, .homestays-main-header{
        font-family: "Fredericka the Great", arial, sans-serif;
        font-size: 1.4rem;
        font-weight: bolder;
    }

    #primary-tab-content{
        background-color: rgb(255,255,255);
    }

    .popup-navbar{
        position: absolute;
        z-index: 1001;
        display: block;
        background-color: rgba(51, 51, 51, 1);
    }

    .popup-navbar ul{
        position: relative;
    }

    .tab-content .nav-tabs .nav-link, .tab-content .caption1, .horizontal-scroll-wrapper .caption1{
        font-size: 1em;
    }

    /*.nav-tabs .nav-link.active{
        background-color: #303136 !important;
        border: medium none;
        border-radius: 3px 18px;
        color:#fff !important;
    }*/

    .nav-pills{
        padding: 5px 0;
    }

    .nav-pills .nav-item .nav-link{
        padding: 0 auto;
        color: #fefefe;
    }

    .modal-dialog{
        height: 700px;
    }

    .modal-content{
        height: 100%;
    }

    .modal-header .navbar-toggler-icon{
        color: black;
    }

    .modal-header{
        height: auto;
        display: block;
    }

    .modal-footer{
        height: 18%;
        padding: 0;
    }

    /*modal style for mobile screens*/
    #videoModal .modal-dialog{
        width: 95%;
        height: auto;
    }

    .customise-form textarea{
        height: 10em;
    }

    .ribbon-edge-bottomright {
        position: absolute;
        z-index: 1;
        border-style:solid;
        height:0px;
        width:0px;
    }

    .ribbon-edge-bottomright {
        right: -2.6%;
        border-color: transparent transparent transparent #9B1724;
    }

    .ribbon-edge-bottomright {
        border-width: 0 0 5px 10px;
    }

    /*card-flip effect*/
    .card-scene{
        width: 100%;
        height: 230px;
        padding-bottom: 15px;
        perspective: 800px;
    }

    .card-container{
        width: 100%;
        height: 100%;
        transition: transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1);
        transform-style: preserve-3d;
        position: relative;
        box-shadow:
                0 2px 5px 0 rgba(0,0,0,0.7),
                0 2px 3px 0 rgba(0,0,0,0.7);
    }

    .card-container.is-flipped{
        transform: rotateY(180deg);
    }

    .card-face{
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .card-face_front{
        background-image: url("../images/test2.jpg");
    }

    .card-face_back{
        background: #75bdbd;
        transform: rotateY(180deg);
        overflow-y: scroll;
    }
}

.nav-tabs{
    border: none !important;
    padding-bottom: 0 !important;
}

#primary-tab-content{
    color:#fff;
    padding:5px
}

.nav-tabs > li > a{
    border: medium none;
}

@media (min-width: 992px) {

    /*video-popup*/
    #videoModal > .modal-sm{
        max-width: 70%;
    }

    .nav-item{
        padding: 0 0.5rem;
    }

    .navbar-nav > .dropdown:hover .dropdown-menu{
        display: block;
    }

    .nav-tabs .nav-link{
        font-size: 1.3em;
        border-bottom: none;
    }

    #primary-tab-content{
        background-color: rgba(13,13,13,0.8);
    }

    .popup-navbar{
        padding: 15px 0;
        font-size: 1.2em;
    }

    .popup-navbar .nav-pills a{
        border: 1px solid #000000;
        border-radius: 0;
        box-shadow: 5px 5px 0 0 #75bdbd;
        position: relative;
        transition: all 0.5s ease 0s;
    }

    .popup-navbar .nav-pills a:hover,
    .popup-navbar .nav-pills a.active{
        color: #fff;
        background: rgba(13,13,13,0.7);
        border: 1px inset #000000;
        box-shadow: -5px -5px 0 0 #75bdbd;
    }

    .customise-form textarea{
        height: 5.75em;
    }

    /*card-flip effect*/
    .card-scene{
        width: 100%;
        height: 230px;
        padding-bottom: 15px;
        perspective: 800px;
    }

    .card-container{
        width: 100%;
        height: 100%;
        transition: transform 0.8s;
        -webkit-transition: transform 0.8s;
        transform-style: preserve-3d;
        position: relative;
        box-shadow:
                0 2px 5px 0 rgba(0,0,0,0.7),
                0 2px 3px 0 rgba(0,0,0,0.7);
    }

    .card-container:hover{
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .card-face{
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    .card-face_front{
        background-image: url("../images/test2.jpg");
    }

    .card-face_back{
        background: #75bdbd;
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
        overflow-y: scroll;
    }
}

.card-face_back p{
    padding: 10px;
}

.nav a:link{
    color: black;
}

/*experiences-trip-template styles*/

/*hide the browser's default checkbox*/
.caption1 input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/*create a custom checkbox*/
.checkmark{
    position: relative;
    top: 0.7em;
    right: 0.7em;
    height: 26px;
    width: 26px;
    border-radius: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

/*create the checkbox button*/
.checkmark label{
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 100%;

    transition: all .5s ease;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 5px;
    z-index: 1;

    background: #FFFFFF;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

/*create the checked state*/
.checkmark input[type=checkbox]:checked + label{
    background: #26ca28;
}

/*on mouse-over add a grey background color*/
.checkmark label:hover{
    background-color: #AAAAAA;
}

/*nav-bar styling*/

a:focus{
    outline: none;
    text-decoration: none;
}

.tab .nav-tabs{
    border: none;
    margin-bottom: 10px;
}

.tab .nav-tabs li a{
    border: 1px solid #000000;
    border-radius: 0;
    box-shadow: 5px 5px 0 0 #75bdbd;
    position: relative;
    transition: all 0.5s ease 0s;
}

.tab .nav-tabs li a:hover,
.tab .nav-tabs li a.active{
    color: #fff;
    background: rgba(13,13,13,0.7);
    border: 1px inset #000000;
    box-shadow: -5px -5px 0 0 #75bdbd;
}

.tab .tab-content{
    box-shadow: 5px 5px 0 0 #5d001e;
    border: 1px solid #5d001e;
    color: #5d001e;

}

/*Experiences Modal-Popup Style*/
.modal-md{
    max-width: 75%;
}

/*styling Customise Experience Form*/
#experiences-form{
    padding-top: 76px;
    z-index: 1000 !important;
}

#experiences-form > div{
    box-shadow: 0 0 20px rgba(13,13,13,0.5);
    padding: 0;
    background-color: #fefefe;
}

#experiences-form .form-group{
    margin: 5px;
}

/*Homestay Modal-Popup Style*/

.modal-dialog{
    margin: 0.5rem auto;
}

.modal-lg{
    max-width: 95%;
    height: 95vh;
    line-height: 1.2;
}

.modal-content{
    height: 100%;
}

.modal-body{
    max-height: calc(100vh - 110px);
    overflow-y: auto;
    color: black;
}

.popup-navbar > ul > .nav-item{
    padding: 10px;
}

.tour-details, .homestay-details{
    color: #4e555b;

    font-size: 1.2em;
}

.tour-details > .tour-name, .homestay-details > .homestay-name{
    font-size: 1.3em;
}

.nav-pills > li > a{
    padding-top: 5px;
    padding-bottom: 5px;
}

#homestaysModal .modal-header > button > span, #toursModal .modal-header > button > span{
    float: right;
}

.homestay-images img, .tour-images img, #tour-itinerary img{
    max-width: 100%;
    max-height: 100%;
}

.modal-body{
    font-family: "Josefin Sans", arial, "sans-serif";
}

.modal-body .content{
    font-size: 0.95em;
}

#homestay-host .host-img img{
    max-width: 100%;
    height: auto;
}

.dropdown-form, .dropdown-reviews{
    display: block;
    margin: 0;
    border: solid;
    border-color: #32383e;
    font-size: 1.2em;
    padding: 3px;
}

.dropdown-form:hover, .dropdown-reviews:hover{
    background: #32383e;
    color: #fefefe;
}

.booking-form{
    box-shadow: 0 0 20px rgba(13,13,13,0.5);
}

.booking-form .form-group{
    margin: 5px;
}

.reviews{
    background-color: rgba(13,13,13,0.1);
}

/*Customisation Form*/
.customise-form .row{
    background-color: rgba(13,13,13,0.1);
    box-shadow: 0 0 20px rgba(13,13,13,0.5);
}

.customise-form .rounded-custom{
    border-radius: 0 !important;
    border: 2px solid rgba(13,13,13,0.3);
}

.customise-form input:focus, .customise-form input:hover{
    outline: none !important;
    box-shadow: 0 0 10px #75bdbd;
}

.customise-form .rounded-custom-textarea{
    border-top-right-radius: 1.2rem;
    border-top-left-radius: 1.2rem;
    border-bottom-left-radius: 1.2rem;
    border: 2px solid rgba(13,13,13,0.3);
}

.customise-form p{
    line-height: 1.5;
    padding: 15px;
}

/*styling button*/
.customise-form button{
    width: 20em;
    border-radius: 4px;
}

/*styling button text*/
.customise-form span{
    font-size: 1.7em;
    font-family: 'Josefin Sans', arial, sans-serif;
}

/*hiding the actual submit button*/
.hidden{
    display: none;
}

/*Comment Style*/
.comments { clear: both; }
.comments .odd { background: #eee; }
.comments .comment { padding: 20px; }
.comments .comment p { margin-bottom: 0; }
.comments h3 { background: #eee; padding: 10px; font-size: 20px; margin-bottom: 20px; clear: both; }
.comments .previous-comments { margin-bottom: 20px; }

/*horizontal scrolling*/
.horizontal-scroll-wrapper{
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: fit-content;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}

.horizontal-scroll-wrapper::-webkit-scrollbar{
    display: none;
}

.horizontal-scroll-wrapper .horizontal-scroll-element{
    display: inline-block;
}

/*customise-form ribbon*/
.ribbon-wrapper {
    position: relative;
    z-index:998;
}
.ribbon-front {
    background-color: #cc3333;
    height: 50px;
    width: 105.6%;
    position: relative;
    left:-10px;
    z-index: 2;
    font:27px/50px bold Verdana, Geneva, sans-serif;
    color:#f8f8f8;
    text-align:center;
    text-shadow: 0px 1px 2px #cc6666;
}

.ribbon-front,
.ribbon-back-left,
.ribbon-back-right
{
    -moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -khtml-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
    -o-box-shadow: 0px 0px 4px rgba(0,0,0,0.55);
}

.ribbon-edge-topleft,
.ribbon-edge-topright,
.ribbon-edge-bottomleft {
    position: absolute;
    z-index: 1;
    border-style:solid;
    height:0px;
    width:0px;
}

.ribbon-edge-bottomleft,
.ribbon-edge-bottomright {
    top: 50px;
}

.ribbon-edge-topleft,
.ribbon-edge-bottomleft {
    left: -10px;
    border-color: transparent #9B1724 transparent transparent;
}

.ribbon-edge-topleft {
    top: -5px;
    border-width: 5px 10px 0 0;
}
.ribbon-edge-bottomleft {
    border-width: 0 10px 0px 0;
}

.ribbon-edge-topright{
    left: 337px;
    border-color: transparent transparent transparent #9B1724;
}

.ribbon-edge-topright {
    top: 0px;
    border-width: 0px 0 0 10px;
}


@-webkit-keyframes flow {
    0% { left:-20px;opacity: 0;}
    50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}
@keyframes flow {
    0% { left:-20px;opacity: 0;}
    50% {left:100px;opacity: 0.3;}
    100%{ left:180px;opacity: 0;}
}

.glow{
    background: rgb(255,255,255);
    width:40px;
    height:100%;
    z-index:999;
    position:absolute;
    -webkit-animation: flow 1.5s linear infinite;
    -moz-animation: flow 1.5s linear infinite;
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 1%, rgba(255,255,255,1) 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,0)), color-stop(1%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 1%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */ border-left:1px solid #fff;}

