<!--Modal Structure-->
<div class="modal fade" id="homestaysModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal Header-->
            <div class="modal-header p-0">
                <div class="d-flex flex-row" style="width: 100%;">
                    <div class="homestay-details col-6 col-md-3 pl-3 pl-md-4">
                        <div class="homestay-name pt-1">Homestay Name</div>
                        <div class="homestay-location pl-1">Location</div>
                    </div>

                    <div class="col-5 col-md-8">
                        {% include 'homestays/homestay-navbar.html.twig' %}
                    </div>
                    <div class="col-1 ml-auto pr-2">
                        <button type="button" class="close m-0 col-md-1 ml-auto" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                </div>
            </div>

            <!--Modal Body-->
            <div class="modal-body d-flex flex-row p-0">
                <div class="tab-content col-12 col-md-9 p-3">

                    <!--Room Images Carousel-->
                    <div id="homestay-rooms" class="container tab-pane active p-0">
                        {% include 'homestays/homestays-room-images.html.twig' %}

                        <div class="row">
                            <div class="col-md-6">
                                <span class="bold">Rooms Description</span>
                                <p class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in tortor metus. Fusce rhoncus lacinia congue. Morbi sit amet lobortis leo. Sed viverra tellus fringilla posuere faucibus. Maecenas nunc mauris, semper vitae velit sed, luctus tempus tortor. Nunc in nunc sed ex ornare viverra. Nam vehicula massa bibendum faucibus condimentum. Nam posuere arcu sed sollicitudin venenatis. Fusce eget lorem ut arcu viverra laoreet eu sed arcu. Nulla facilisi. Morbi ut porta leo. Vestibulum varius magna et aliquet imperdiet. Praesent vestibulum, nisi ac vestibulum porta, tellus ipsum gravida est, eu molestie quam ligula at lectus. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
                            </div>
                            <div class="col-6 col-md-2">
                                <span class="bold">Room Type</span>
                                <div class="col-12 p-0 d-flex flex-column align-items-start">
                                    <span class="content">Single Room</span>
                                    <span class="content">Double Room</span>
                                </div>
                            </div>
                            <div class="col-6 col-md-2">
                                <span class="bold">Room Tariff</span>
                                <div class="col-12 p-0 d-flex flex-column align-items-start">
                                    <span class="content">2500/- per night</span>
                                    <span class="content">3500/- per night</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-2 p-md-0">
                                <span class="bold">Facilities</span>
                                <div class="col-12 p-0 d-flex flex-column align-items-start">
                                    <span class="content">Wi-Fi</span>
                                    <span class="content">Hot Water 24 hrs</span>
                                    <span class="content">Parking</span>
                                    <span class="content">Security</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--About the Homestay-->
                    <div id="homestay-location" class="container tab-pane p-0">
                        {% include 'homestays/homestays-room-images.html.twig' %}
                        <div class="row">
                            <div class="col-md-8">
                                <span class="content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit elit. Aenean accumsan hendrerit ornare. Duis dapibus accumsan pulvinar. Vivamus pellentesque varius turpis vel egestas. Mauris mattis ligula sed lobortis laoreet. Fusce vel arcu sapien. In ultrices non mi vitae aliquam. Fusce elementum pretium faucibus. Sed tempor lacinia imperdiet.Vivamus malesuada interdum iaculis. Donec quis metus eleifend sapien egestas dignissim eu id neque. Ut sed pellentesque mi. Maecenas ut libero et magna faucibus porta. Praesent sed metus dignissim, feugiat diam id, commodo mi. Aliquam lacinia congue est tempus malesuada. Suspendisse viverra tortor leo. Nam varius nisi tellus, vitae lacinia tellus sollicitudin volutpat. Nunc vel facilisis sapien. Nulla</span>
                            </div>
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>

                    <!--About the Host-->
                    <div id="homestay-host" class="container tab-pane">
                        <div class="row">
                            <div class="col-6 col-md-5 host-img p-0">
                                <img src="{{ asset('images/host-img.png') }}">
                            </div>
                            <div class=" col-12 col-md-7 pl-0 pt-3 p-md-3">
                                <span class="host-name bold">Your Host</span>
                                <p class="host-description content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                            </div>
                        </div>
                    </div>

                    <!-- Experience around the Homestay -->
                    <div id="homestay-experience" class="container tab-pane p-0">
                        <div class="row pl-md-2">
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="card-scene">
                                    <div class="card-container">
                                        <div class="card-face card-face_front d-flex align-items-end">
                                            <div class="caption1 mb-3 d-flex justify-content-center">
                                                <span>Tea Garden Hike</span>
                                            </div>
                                        </div>
                                        <div class="card-face card-face_back">
                                            <div class="experience-snippet">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vestibulum accumsan lectus, sit amet cursus odio hendrerit id. Morbi sollicitudin laoreet velit nec ullamcorper. Aliquam fringilla tortor at dui semper sollicitudin. Fusce hendrerit, ligula id porta bibendum, justo libero aliquam metus, vel luctus nulla justo elementum est. Nulla semper eget elit eu scelerisque. Nam elementum eros eget malesuada pretium. Morbi a est auctor, ultrices orci vulputate, cursus tellus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="modal-footer">

                <!--Sidebar-->
                <div class="col-md-3 sidebar sticky p-2 pt-md-3" id="sidebar">

                    <button class="col-12 dropdown-form row btn" href="#">Make Your Booking!</button>
                    <!--Booking Form for Homestays-->
                    <div class="booking-form p-2 mt-2 hidden">
                        <form action="">
                            <div class="form-group">
                                <input type="text" class="form-control rounded" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control rounded" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control rounded" id="checkin" placeholder="Check In">
                            </div>
                            <div class="form-group">
                                <input onfocus="(this.type='date')" class="form-control rounded" id="checkout" placeholder="Check Out">
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control rounded" id="guests" placeholder="No. of Guests">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control rounded" id="message" name="message" rows="5" placeholder="Special Requirements"></textarea>
                            </div>
                            <div class="d-flex justify-content-center"><button type="submit" class="btn btn-primary">Book Now</button></div>
                        </form>
                    </div>

                    <button class="col-12 dropdown-reviews row btn mt-1" href="#">Reviews</button>
                    <!--Homestay Reviews-->
                    <div class="homestay-reviews reviews mb-2 hidden">

                        <div class="homestay-usr-img-rating">
                            <div class="user-img-container p-2">
                                <img src="{{ asset('images/usr-img.png') }}">
                            </div>
                        </div>
                        <div class="homestay-comment p-2">
                            <p class="mb-2 content">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin eu orci id erat volutpat dictum sit amet a diam. Sed id libero magna. Maecenas dictum augue eget egestas facilisis. Nullam commodo porttitor finibus."</p>
                            <div class="d-flex justify-content-end">
                                <span class="usr-name bold">Sachin Singhi</span>
                            </div>
                            <div class="d-flex justify-content-end">
                                <span class="usr-location">Mumbai</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
