<div class="row homestay-images pb-2 pb-md-4">
    <div class="col-8 pl-md-3 pl-2 pr-1">
        <div id="img-carousel-homestay" class="carousel slide" data-ride="carousel">

            <!--Indicators-->
            <ul class="carousel-indicators">
                <li data-target="#img-carousel-homestay" data-slide-to="0" class="active"></li>
                <li data-target="#img-carousel-homestay" data-slide-to="1"></li>
                <li data-target="#img-carousel-homestay" data-slide-to="2"></li>
            </ul>

            <!--The Slideshow-->
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="{{ asset('images/test.jpg') }}">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/test.jpg') }}">
                </div>
                <div class="carousel-item">
                    <img src="{{ asset('images/test.jpg') }}">
                </div>
            </div>

            <!--Left and Right Controls-->
            <a class="carousel-control-prev" href="#img-carousel-homestay" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#img-carousel-homestay" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </div>
    <div class="col-4 pl-0 pr-2 pr-md-0">
        <div class="col p-0">
            <img src="{{ asset('images/test.jpg') }}">
        </div>
        <div class="col p-0 pt-1">
            <img src="{{ asset('images/test.jpg') }}">
        </div>
    </div>
</div>
