<nav class="navbar-expand-sm">
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#homestayNavtab" aria-controls="homestayNavtab" aria-expanded="false" aria-label="Toggle Navtab">
        <i class="fa fa-bars"></i>
    </button>
    <div class="popup-navbar">
        <div class="navbar-collapse collapse" id="homestayNavtab">
            <ul class="nav nav-pills nav-justified">
                <li class="nav-item">
                    <a class="nav-link active selected" data-toggle="pill" href="#homestay-rooms">Rooms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#homestay-location">Location</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#homestay-host">Host</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="pill" href="#homestay-experience">Experiences</a>
                </li>
            </ul>
        </div>
    </div>
</nav>